<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error view</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
    <style th:inline="text">
        h3 {
            padding: 2px;
        }
    </style>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h3>404! Resource not found...</h3>
<a th:href="@{/}">Back to homepage</a>
</body>
</html>
