<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container ml-0" >
    <h1>Product List</h1>
    <a href="/new">Create New Product</a>
    <br/><br/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Names</th>
            <th scope="col">Descriptions</th>
            <th scope="col">Prices</th>
            <th scope="col">Created</th>
            <th scope="col">Last modified</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Names</td>
            <td th:text="${product.description}">Descriptions</td>
            <td th:text="${product.prices}">Prices</td>
            <td th:text="${#calendars.format(product.createdDate,'dd/MMM/yyyy HH:mm:ss')}">createdDate</td>
            <td th:text="${#calendars.format(product.modifiedDate,'dd/MMM/yyyy HH:mm:ss')}">modifiedDate</td>
            <td>
                <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>